.home-bgimg{
    background-image: url('../../images/homepic.jpg');
    
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    height: fit-content;
}